.scrolling-wrapper{
	overflow-x: auto;
}

body{
	background-color: white;
	color: #fff;
	font-family: 'system-ui';
	min-width: 400px;
	min-height: 400px;
}

h1{
	font-weight: 400;
	font-size: 2em+ 1vw + 1vh;
    color: black;
}

.subtitle{
	font-size: 1.25em;
	opacity: 0.65;
    color: black;
}

.subtitle2{
	font-size: 1em;
	opacity: 0.65;
    color: black;
}

.red-flag{
	color: red !important; 
}

.flag{
	border-radius: 5px;
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	transition: all 0.4s;
}

.flag:hover{
	background-color: darkred;
	opacity: 0.7;
	transition: all 0.4s;
}

.star{
	border-radius: 5px;
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	color: #fdd835;
}

.student-button:hover{
	background-color: darkgrey !important;
	transition: all 0.4s;
}

.student-button{
	min-width: 200px;
	min-height: 30px;
	transition: all 0.4s;
}

.exit{
	transition: all 0.4s;
	background-color: #f4cccc;
	border-color: red;
	color: red;
	text-align: center;
	width: 150px;
	height: 50px;
	border-radius: 10px;
	padding-top: 10px;
}

.exit:hover{
	transition: all 0.4s;
	background-color: red;
	border-color: #f4cccc;
	color: #f4cccc;
	opacity: 0.8;
}

.card-block div {
	padding: 10px;
    display: inline-block;
    border-radius: 10px;

}
.card-block div ul {
	margin-bottom:auto;
	list-style: none;
	font-size: 13.5px;
	text-align: left;
}
.card-block div ul li {
	position: relative;
	margin-top: auto;
	left: -10px;
	margin-right: 50px;
	text-align: left;
}

.card-block div span p {
	min-width: 150px;
	font-size: 30px;
	margin-right: 50px;
	margin-bottom:10px;
}

.card-block div span i {
	font-size: 25px;
	margin-left: 100px;
}
.card-block:hover{
		transform: translateY(-5px);
		box-shadow: none;
		opacity: 0.9;
}

.cards{
	background-color: #f3f6f4;
	color: black;
	border-color: #999999;
}

.tick{
	transition: all 0.4s;
	float: right;
	color: green;
	padding-left: 5px;
	padding-right: 5px;
}

.tick:hover{
	background-color: green;
	color: white;
	border-color: darkgreen;
	border-radius: 10px;
	transition: all 0.4s;
}

.cross{
	transition: all 0.4s;
	float: right;
	color: darkred;
	padding-left: 5px;
	padding-right: 5px;
}

.cross:hover{
	background-color: darkred;
	color: white;
	border-color: red;
	border-radius: 10px;
	transition: all 0.4s;
}

.bad-star{
	border-radius: 5px;
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	transition: all 0.4s;
	color: grey;
}

.bad-star:hover{
	background-color: #fdd835;
	color: yellow;
	opacity: 0.6;
	transition: all 0.4s;
}