.scrolling-wrapper{
	overflow-x: auto;
}

body{
	background-color: white;
	color: #fff;
	font-family: 'system-ui';
}

h1{
	font-weight: 400;
	font-size: 2em;
    color: black;S
}

.subtitle{
	font-size: 1.25em;
	opacity: 0.65;
    color: black;
}

.subtitle2{
	font-size: 1.25em;
	opacity: 0.65;
    color: darkred;
}

.red-flag{
	color: red !important; 
}

.student-button:hover{

}
