
.body-wrapper {
	padding: 10px 100px 0px 100px;
}


.body-wrapper .container-fluid > h1:first-child {
	
}

.scrolling-wrapper{
	overflow-x: auto;
	margin: 0;
	padding: 0;
	align-items: center;
}



body{
	background-color: white;
	color: #fff;
	font-family: 'system-ui';
}

h1{
	font-weight: 400;
	font-size: 2em;
    color: black;
}

.subtitle{
	font-size: 1.25em;
	opacity: 0.65;
    color: black;
}

.card-block{
	cursor: pointer;
	height: 175px;
	width: 175px;
	min-height: 50px;
	min-width: 50px;
	background-color: #fff;
	border: none;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
	border-radius: 24px;
	display: flex;
    justify-content: center;
    align-items: center; 

}
.card-block div {
	text-align: center;
	padding: 10px;
    display: inline-block;
    border-radius: 10px;

}
.card-block div ul {
	margin-bottom: -5px;
	list-style: none;
	font-size: 12px;
}
.card-block div ul li {
	position: relative;
	left: -10px;
}

.card-block div span p {
	margin-bottom: -10px;
	font-size: 40px;
}

.card-block div span i {
	font-size: 25px;
}
.card-block:hover{
		transform: translateY(-5px);
		box-shadow: none;
		opacity: 0.9;
}


.card-1{
	background-color: #4158D0;
	background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.card-2{
	background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.card-3{
	background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}

.card-4{
	background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.card-5{
	background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

.card-6{
	background-color: #FA8BFF;
background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
}

.card-7{
	background-color: #FA8BFF;
background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
}

.card-8{
	background-color: #FBDA61;
background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
}

.card-9{
	background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.card-10{
	background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

}



.indicator-scroller-right{
	cursor: pointer;
	position: absolute;
	z-index: 999;
	height:175px;
	width: 70px;
	left: calc(100% -  110px);
	vertical-align: middle;
	align-content: center;
}


.indicator-scroller-right span {
	font-size: 50px;
	display:table;
	position: relative;
	margin:0 auto;
	top:calc(56% - 50px);
	background-color: black;
	opacity: 40%;
	border-radius: 10px;
}


.indicator-scroller-left{
	cursor: pointer;
	position: absolute;
	z-index: 999;
	height:175px;
	left: 40px;
	width: 70px;
	vertical-align: middle;
	align-content: center;
}


.indicator-scroller-left span {
	font-size: 50px;
	display:table;
	position: relative;
	margin:0 auto;
	top:calc(56% - 50px);
	background-color: black;
	opacity: 40%;
	border-radius: 10px;
}

