
.body-wrapper {
	margin: 15% 10% 15% 10%;
	padding-bottom: 200px;
}

.scrolling-wrapper{
	overflow-x: auto;
	margin: 0;
	padding: 0;
	align-items: center;
}



body{
	background-color: white;
	color: white;
	font-family: 'system-ui';
}

h1{
	font-weight: 400;
	font-size: 2em;
    color: black;
}

.subtitle{
	font-size: 1.25em;
	opacity: 0.65;
    color: black;
}

.subtitle2{
	font-size: 1em;
	opacity: 0.65;
    color: black;
}

.card-block{
	cursor: pointer;
	height: 10em;
	width: 175px;
	background: #f3f6f4;
	border: none;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
	border-radius: 24px;
	display: flex;
    justify-content: center;
    align-items: center; 

}
.card-block div {
	text-align: center;
	padding: 10px;
    display: inline-block;
    border-radius: 10px;

}
.card-block div ul {
	margin-bottom: -5px;
	list-style: none;
	font-size: 12px;
}
.card-block div ul li {
	position: relative;
	left: -10px;
}

.card-block div span p {
	margin-bottom: -10px;
	font-size: 40px;
}

.card-block div span i {
	font-size: 25px;
}
.card-block:hover{
		transform: translateY(-5px);
		box-shadow: none;
		opacity: 0.9;
}


.cards{
	background-color: #f3f6f4;
	color: black;
	border-color: #999999;
}


.indicator-scroller-right{
	cursor: pointer;
	position: absolute;
	z-index: 999;
	height:175px;
	width: 70px;
	left: calc(100% -  110px);
	vertical-align: middle;
	align-content: center;
}


.indicator-scroller-right span {
	font-size: 50px;
	display:table;
	position: relative;
	margin:0 auto;
	top:calc(56% - 50px);
	background-color: black;
	opacity: 40%;
	border-radius: 10px;
}


.indicator-scroller-left{
	cursor: pointer;
	position: absolute;
	z-index: 999;
	height:175px;
	left: 40px;
	width: 70px;
	vertical-align: middle;
	align-content: center;
}


.indicator-scroller-left span {
	font-size: 50px;
	display:table;
	position: relative;
	margin:0 auto;
	top:calc(56% - 50px);
	background-color: black;
	opacity: 40%;
	border-radius: 10px;
}
hr {
    border: 10px;
    width: 100%;
    color: black;
}

.scrolling-wrapper::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scrolling-wrapper::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.scrolling-wrapper::-webkit-scrollbar:horizontal {
    height: 10px;
}

.scrolling-wrapper::-webkit-scrollbar-thumb {
    background-color: #c12a21;
    border-radius: 10px;
    border: 2px solid white;
	border-radius: 10px;
}

.scrolling-wrapper::-webkit-scrollbar-track {
    border-radius: 10px;  
}