* {
    margin: 0;
    padding: 0
}

body {
    background-color: white;
}

.card {
    padding: 0px 50px 50px 50px;
    color: black;
    width: 350px;
    border: none;
    cursor: pointer;
    transition: all 0.5s
}



.image img {
    transition: all 0.5s;
    height: 170px;
    width: 170px;
    border-radius: 50%
}

.name {
    font-size: 22px;
    font-weight: bold
}

.curso {
    font-size: 20px
}

.number {
    font-size: 22px;
    font-weight: bold
}

.text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

