/*  

	Navigation bootom mobile start style  

*/
@media only screen and (min-width: 768px){

	.body-wrapper {
		margin: 0px 10% 0px 10%;
	}

	.main-navbar .burger-menu-wrap{
		position: absolute;
		z-index: 999;
		right: 0;
		padding: 20px;
	}

	.footer-main-navbar {
		display: none;
	}

	.main-navbar{
		width: 100%;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.main-navbar .logo-navbar{
		position: absolute;
		z-index: 999;
		left: 0;
	}
}

@media only screen and (max-width: 768px) {

	.body-wrapper {
		margin: 0% 2% 0px 2%;
	}
	.footer-main-navbar .burger-menu-wrap{
		position: absolute;
		top:0;
		padding: 0px 10px;
		z-index: 999;
		right: 0;
	}

	.main-navbar .burger-menu-wrap{
		display: none;
	}

	.main-navbar .logo-navbar{
		display: none;
	}


	.main-navbar{
		position: fixed;
		z-index: 99999;
		width: 100%;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.footer-main-navbar .burger-elements {
		overflow: hidden;
		display: none;
		padding: 0;
		margin: 0;
		z-index: 9999;
		position: fixed;
		right: 0;
		top: 70px;
		height: calc(100% - 150px)
	}		

}

.sticky-main-navbar .burger-menu-wrap{
	position: absolute;
	padding: 0px 10px;
	z-index: 999;
}

.sticky-main-navbar .burger-elements-stick {
	overflow: hidden;
	display: none;
	padding: 0;
	margin: 0;
	z-index: 9999;
	position: fixed;
	right: 0;
	top: 70px;
	height: calc(100% - 150px)
}		

.sticky-main-navbar {
	position: fixed;
	z-index: 99999;
	width: 100%;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sticky-main-navbar + .body-wrapper {
	padding-top: 10000px;
}


.nav-mobile-wraper {
	vertical-align: middle;
	background: #5a5a59;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-mobile-wraper ul {
	padding: 10px 0px 0px 0px;
	margin: 0;
	display: flex;
	width: 400px;
}

.nav-mobile-wraper ul li {
	list-style: none;
	position: relative;
	z-index: 1;
	width: calc(400px / 4);
	height: 70px;
	left: calc(25 - 5px);
}

.nav-mobile-wraper ul li a {
	color: white;
	text-decoration: none;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	font-weight: 200;
}

.nav-mobile-wraper ul li a i {
	font-size: calc(1.5em - 2px);
	display: block;
	text-align: center;
	line-height: 1.5;
}

.nav-mobile-wraper ul li:hover {
	 transition: 300ms;
  border-bottom: 6px solid white;
}

/*

	Footbar movile version

*/

.footer-main-navbar .logo-navbar {
	position: absolute;
	z-index: 999;
	left: 0;
}
.footer-nav-mobile-wraper {
	vertical-align: middle;
	background: #5a5a59;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
}


/*

	Burger Menu style

*/


.burger-menu-wrap .burger, {
	text-align: center;
	padding: 0;
	margin: 0;
}

.burger-menu-wrap .burger i {
	cursor: pointer;
	margin: 0;
	border-radius: 10px;
	border: 1px solid grey;
	padding: 0px 5px 0px 5px;
	font-size: 45px;
}

.burger-menu-wrap .burger i:hover {
	background:#4e4d4d;
}

.main-navbar .burger-elements {
	overflow: hidden;
	display: none;
	padding: 0;
	margin: 0;
	z-index: 9999;
	position: fixed;
	right: 0;
	top: 80px;
	height: calc(100% - 80px);
}

.burger-elements p {
	text-decoration: underline;
	color: #2c2c2c;
	font-size: 0.7em;
	text-align: center;
	position: relative;
	top: -80px;
}

.burger-elements ul{
	margin: 0;
	padding: 0;
	height: 100%;
	background: #5f5e5e;
	text-align: left;
	list-style: none;
}

.burger-elements ul li{
	background: #5f5e5e;
	padding: 0px;
}

.burger-elements ul li a{
	text-decoration: none;
	color: white;
	margin: 0px; 
	display: block;
	padding: 55px;
}

.burger-elements ul li a i{
	font-size: 30px;
	position: relative;
	left: -15px;
}

.burger-elements ul li a:hover {
	background: #4e4d4d;
}