

/**
 * 
 * 
 * Utilidades generales
 * 
 * **/

.body-wrapper {
	padding-bottom: 200px;
}
.org-badge {
	padding: 1.25rem;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	border: 1px solid #e9ecef;
	border-left-width: .25rem;
	border-radius: .25rem;
}

.badge-info {
	border-left-color: #42a5f5;
}


/*  

	Navigation bootom mobile start style  

*/
@media only screen and (min-width: 768px){
	.main-navbar .nav-mobile-wraper .notification-nav {
		display: block;
	}
	.body-wrapper {
		margin: 20px 10% 0px 10%;
	}

	.main-navbar .burger-menu-wrap{
		line-height: 100%;
		position: absolute;
		top:15px;
		z-index: 999;
		right: 17px;
	}

	.footer-main-navbar {
		display: none;
	}

	.main-navbar{
		width: 100%;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.main-navbar .logo-navbar{
		position: absolute;
		z-index: 999;
		left: 0;
	}
}

@media only screen and (max-width: 768px) {
	.footer-main-navbar {
	width: 100%;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
	.main-navbar .nav-mobile-wraper .notification-nav {
		display: none;
	}
	.body-wrapper {
		margin: 2% 2% 0px 2%;
	}
	.footer-main-navbar .burger-menu-wrap{
		line-height: 100%;
		position: absolute;
		z-index: 999;
		right: 10px;
	}

	.main-navbar .burger-menu-wrap{
		display: none;
	}

	.main-navbar .logo-navbar{
		display: none;
	}


	.main-navbar{
		position: fixed;
		z-index: 99999;
		width: 100%;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.footer-main-navbar .burger-elements {
		overflow: hidden;
		display: none;
		padding: 0;
		margin: 0;
		z-index: 999;
		position: fixed;
		right: 0;
		top: 69px;
		height: calc(100% - 148px)
	}		

}

/*

	Notification System CSS

*/

 .notification-nav {
	display: block;
	font-size: 1.6em ;
	position: absolute;
	z-index: 1050;
	left: calc(100% - 110px);
	cursor: pointer;
	color: white;
	font-weight: 200;
}

.notification-nav span {

	text-align: center;
	font-size: 0.4em;
	font-weight: bold;
	right: 0;
	background: #c12a21;;
	border-radius: 100%;
	width: 1.4em;
	position: absolute;
}

.notification-nav:hover i {
	transition: 300ms;
	color: #ffee58;

}
.notification-elements-wraper {
	display: none;
	background: white;
	border: 2px solid black;
	border-radius: 10px;
	border: 1px solid #ccc ;
	position: fixed;
	z-index: 1058;
	right: 0;
	top :80px;
	margin:20px ;
	width: 300px;
	padding: 20px;
}

.notification-elements-wraper > span {
	margin-top: 2px;
	color: #d32f2f;
	float: right;
	cursor: pointer;
	 border-radius: 5px;
	 border: 1px solid #d32f2f;
	 padding: 5px;
}

.notification-elements-wraper > span:hover {
	transition: 200ms;
	color: white;
	background:  #d32f2f;
}

.notification-elements-wraper::before, .notification-elements-wraper::after {
    content: "";
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    right: 70px;
}
.notification-elements-wraper::before {
    border-color: #ccc transparent;
    top: -10px;
    right: 70px;
}
.notification-elements-wraper::after {
    content: "";
    display: block;
    position: absolute;
    border-style: solid;
    border-color: #fff transparent;
    border-width: 0 10px 10px 10px;
    top: -9px;
}

.notification-elements-wraper ul {
	margin: 0;
	padding: 0;
	height: 100%;
	text-align: left;
	list-style: none;
}

.notification-elements-wraper ul li {

	color: black;
	width: 100%;
	padding: 10px;
	border: 1px solid grey;
	margin: 5px;
	border-radius: 5px;
	vertical-align: middle;
}

.notification-elements-wraper ul li span{
	color: white;
	cursor: pointer;
	background: #d32f2f;
	float: right;
	display: block;
	margin: 0;
	position: relative;
	right: -11px;
	top: -11px;
	height: 46px;
	width: 40px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: center;
}

.notification-elements-wraper ul li span:hover {
	transition: 450ms;
	color: #d32f2f;
	background: white;
	border: 1px solid #d32f2f;
}

.notification-elements-wraper ul li span i{
	font-size: 15px;
	display: block;
	position:relative;
	top: calc(50% - 11px);
}


/*

	Sticky components style

*/

.sticky-main-navbar + .body-wrapper {
	background: red;
}

.sticky-main-navbar .burger-menu-wrap{
	position: absolute;
	z-index: 999;
}

.sticky-main-navbar .burger-elements-stick {
	overflow: hidden;
	display: none;
	padding: 0;
	margin: 0;
	z-index: 1050;
	position: fixed;
	right: 0;
	top: 70px;
	height: calc(100% - 150px)
}		

.sticky-main-navbar {
	position: fixed;
	z-index: 1051;
	width: 100%;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sticky-main-navbar + .body-wrapper {
	padding-top: 10000px;
}


/*

	Nav system

*/
.active-nav {
	 border-bottom: 6px solid #c12a21;
}

.nav-mobile-wraper {
	vertical-align: middle;
	background: #5a5a59;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-mobile-wraper ul {
	padding: 10px 0px 0px 0px;
	margin: 0;
	display: flex;
	width: 400px;
}

.nav-mobile-wraper ul li {
	list-style: none;
	position: relative;
	z-index: 1;
	width: calc(400px / 4);
	height: 70px;
	left: calc(25 - 5px);
}



.nav-mobile-wraper ul li a {
	color: white;
	text-decoration: none;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	font-weight: 200;
}

.nav-mobile-wraper ul li a i {
	font-size: calc(1.5em - 2px);
	display: block;
	text-align: center;
	line-height: 1.5;
}

.nav-mobile-wraper ul li:hover {
	 transition: 300ms;
  border-bottom: 6px solid #c12a21;
}


/*

	Footbar movile version

*/

.footer-main-navbar .logo-navbar {
	position: absolute;
	z-index: 999;
	left: 0;
}

.footer-nav-mobile-wraper {
	vertical-align: middle;
	width: 100%;
	background-color: #5a5a59;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
}


/*

	Burger Menu style

*/

.burger-menu-wrap .burger i {
	color: white;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid grey;
	font-size: 2.8em;
	padding: 2px;
	margin: 0;
	display: inline-block;
	vertical-align: baseline;
	z-index: 999;
}

.burger-menu-wrap .burger i:hover {
	background:#4e4d4d;
}

.main-navbar .burger-elements {
	overflow: hidden;
	display: none;
	padding: 0;
	margin: 0;
	z-index: 1059;
	position: fixed;
	right: 0;
	top: 80px;
	height: calc(100% - 80px);
}

.burger-elements p {
	text-decoration: underline;
	color: #2c2c2c;
	font-size: 0.7em;
	text-align: center;
	position: relative;
	top: -70px;
}

.burger-elements ul{
	margin: 0;
	padding: 0;
	height: 100%;
	background: #5f5e5e;
	text-align: left;
	list-style: none;
}

.burger-elements ul li{
	background: #5f5e5e;
	padding: 0px;
}

.burger-elements ul li:last-child {
	margin-top: 50px;
	font-size: 0.9em;
}

.burger-elements ul li:last-child:hover {
	background: red;
}
.burger-elements ul li:last-child a{
	text-decoration: none;
	color: white;
	margin: 0px; 
	display: block;
	padding: 10px 50px 12px 70px;
}

.burger-elements ul li:last-child a i{
	font-size: 25px;
	left: 10px;
}

.burger-elements ul li a{
	text-decoration: none;
	color: white;
	margin: 0px; 
	display: block;
	padding: 40px 55px 40px 55px;
}

.burger-elements ul li a i{
	font-size: 30px;
	position: relative;
	left: -15px;
}

.burger-elements ul li a:hover {
	background: #4e4d4d;
}



/*

	Input Style - search on scroll

*/
input.search-on-scroll {
	padding-left: 0.5em;
	font-style: italic;
	font-size: 0.7em;
	border: 1px solid #e9ecef;
	border-radius: .25rem;
}

.bad-search-scroll {
	-webkit-box-shadow: 0px 0px 8px -2px #FF0000; 
	box-shadow: 0px 0px 8px -2px #FF0000;
	border: 1px solid red;
}
.search-on-scroll {
	float: right;
	display: block;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 34px;
	width: 15vw;
	max-width: 100px;
}

.search-on-scroll + span button {
	color: white;
	position: relative;
	background: #2196f3;
	font-size: 0.8em;
	display: block;
	border: none;
	height:34px;
	width: 34px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;

}
.search-on-scroll + span button:hover {
	transition: 500ms;
	color: #2196f3;
	background: white;
	border: 1px solid #2196f3;
}

/**
 * 
 * 
 * 			Estilo de la página principal "login"
 * 
 * 
 * **/

.container-login form {
	padding: 0px 55px 20px 55px;
}

.container-login h6 {
	font-size: 12px;
}
.container-login > div {
	background: #5a5a59;
	color: #5a5a59;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
/**/


.busqueda-error {

	height: 10em;
	display: none;
	width: 200px;
	text-align: center;
}

/**
 * 
 * 		Estilo de la página asignaturas
 * 
 * 
 * 
 * **/

 .table-asignaturas table tr {
 	cursor: pointer;
 }

 .table-asignaturas table {
 	width: 90%;
 }

